<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tecnocom</title>
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/index-styles.css">
        <link rel="stylesheet" href="css/register-styles.css">
        <link rel="stylesheet" href="css/header-styles.css">
        <link rel="stylesheet" href="css/product-styles.css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/desing/fontawesome6/css/fontawesome.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/brands.css" rel="stylesheet">
        <link href="/desing/fontawesome6/css/solid.css" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <%- include('../partials/header.ejs') %>

        <!-- Main (Producto Detail) -->
        <main class="main-productDetail">
            <div class="container-products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Categoría: Monitores</h2>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="bar-ccb" id"cc-bar"></div>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="/images/products/monitor_benq.png" alt="product image" class="product-detail-img">
                            <p class="product-detail-description">
                                <b>Descripción:</b> IMPRESIONANTE PANTALLA QHD 2K Disfrute de una calidad de imagen inmaculada 16 9 con resolución 2K QHD 2560x1440 en un panel de ángulo de visión IPS amplio con 95% de espacio de color DCI-P3.<br><br>- EYE CARE:
                                El producto posee tecnologías de cuidado ocular lideres en la industria de BenQ.
                                Reduce la fatiga ocular ototgandole una mayor comodidad al usuario luego de un tiempo prolongado de uso.<br><br>-RECORDATORIO DE OJO:
                                Sensor infrarrojo para detectar la presencia del usuario, y realizar el seguimiento de tiempo de escritorio para sugerir un descanso.
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <h2 class="product-detail-title">Benq Led Monitor Ex2780q Metallic 2k 144hz</h2>
                                
                                    <p class="product-detail-price small">
                                        <span class="tach">$119.999</span>
                                        <b class="off">/  5% Off</b>
                                    </p>
                                    <p class="product-detail-price">
                                        $113.999
                                    </p>
        
                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-truck-fast"></i>
                                        <p>Envíos a todo el país</p>
                                    </li>
                                </ul>
        
                                <a href="#" class="buy-now-button">COMPRAR AHORA</a>
                                <hr>
                                <div class="butons">
                                    <a href="/productCreateForm" class="action-button edit">Editar</a>
                                    <form action="/products/delete/¿¿" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">Eliminar</button>
                                    </form>
                                </div>
                                
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>    
    </body>
</html>